/* You can add global styles to this file, and also import other style files */
body{
  background-color:whitesmoke;
  width: 900px;
  margin: 0 auto;
}

h4{
  color: palevioletred;
  text-align: center;
}   